<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <!--
          Determines what session state mode is used for search api requests
              Param: The Web Api Url to apply this pipeline against.
              Param: The session mode to apply.
                 Valid values are: Default, Disabled, ReadOnly & Required
        -->
        <processor type="Sitecore.Pipelines.HttpRequestBegin.SessionForWebApi, Sitecore.Pipeline.HttpRequestBegin" 
                   patch:before="*[@type='Sitecore.Pipelines.PreprocessRequest.CheckIgnoreFlag, Sitecore.Kernel']">
          <param name="apiUrl" desc="Web Api Url">api/searchapi</param>
          <param name="sessionStateMode" desc="Session State Mode">Disabled</param>
        </processor>
      </httpRequestBegin>
    </pipelines>
  </sitecore>
</configuration>